@import "base";

body {
  min-height: 100vh;
  color: white;
  background-color: hsl(200, 80%, 30%);
  background-image: radial-gradient(hsl(200, 80%, 30%), hsl(210, 80%, 20%));
  font-family: Raleway, Helvetica, sans-serif;
  line-height: 1.4;
}
h1, h2, h3 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
}
main {
  display: block;
}
img {
  max-width: 100%;
}
.page-header {
  margin: 0;
  padding: 1rem;
}
.page-header::after {
  content: "!";
}
li:nth-child(2n) {
  border: 1px solid red;
}
@media (min-width: 30em) {
  .page-header {
    padding: 2rem 2rem 3rem;
  }
}

$foo: red;

.bar {
  color: $foo;

  .baz {
    font-style: inherit;

    .nested {
      border: 2px solid red;
    }
  }
}
